<header class="sticky top-0 z-30 primary-container justify-center items-center  p-6 ">

    <div class="space-x-10 flex space-x-10  justify-center items-center">
        <div class="flex-1 flex space-x-10 ">
            <img *ngIf="showThreeDot" (click)="showSidebar()" src="./../../assets/Images/menu.png"
                class=" ml-5 h-10 w-10  cursor-pointer" />


            <!-- SideBar -->


            <!-- Header components  -->
            <div class="flex space-x-2 ml-5 justify-center items-center cursor-pointer" routerLink="">
                <img src="./../../assets/Images/logo.png" class="h-10 w-15 pl-10 cursor-pointer mr-10 " alt="logo" />
                <a routerLink="" class='tracking-widest  cursor-pointer text-4xl uppercase '>Med</a>
                <a routerLink="" class="tracking-widest cursor-pointer text-4xl text-secondary-100">Ease</a>
            </div>

        </div>
        <div class="flex space-x-10 text-2xl hover:text-bold justify-center items-center cursor-pointer uppercase tracking-widest">

            <a class="hover:text-secondary-100 " routerLink="about">About</a>
            <a *ngIf="!showThreeDot" class="hover:text-secondary-100 " routerLink="login">Login</a>
            <a *ngIf="!showThreeDot" class="hover:text-secondary-100 " routerLink="register">Register</a>
            <a *ngIf="showThreeDot" class="hover:text-secondary-100  " (click)="logout()">Logout</a>

        </div>

        <img *ngIf="showThreeDot"src='{{image}}' alt=" hello"
            class=" h-14 w-14 border-4 border-primary-80 cursor-pointer shadow-inner shadow-white bg-cover rounded-full "
            onerror="this.onerror=null; this.src='assets\Images\defaultProfile.png'">

    </div>



</header>
<!-- <div class="flex">
    <div *ngIf="showSidenav">
        <app-sidebar></app-sidebar>
    </div>
    <div *ngIf="showSidenav">
        <app-content></app-content>
    </div>
    <div class="flex-1">
        <app-content></app-content>
    </div>
</div> -->