<div class="primary-container h-full ">
    <div class=" justify-center text-center mx-auto py-20 text-secondary-100 text-6xl">
        About Us
    </div>
    <div
        class="text-gray-50 h-100 justify-center text-center  py-20 my-20 bg-[url('./../../assets/Images/aboutUs.jpg')] bg-cover">
        <div class="mx-40 bg-gray-400/30 text-3xl mt-5 animate-pulse">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit.
            Quisquam
            alias
            possimus
            consequuntur ipsum, non
            nostrum impedit error tempore fugiat modi delectus iure voluptatem temporibus amet minima. Exercitationem
            ratione sint quod.
        </div>

    </div>


    <div class="flex justify-evenly py-32">

        <img src="./../../assets/Images/Kshitij_image.jpeg" alt="diagram-2" class="w-1/4 mx-20">

        <div class="justify-center text-center mx-auto space-y-24">
            <h1 class="text-2xl  ">Contribute and Communicate</h1>

        </div>

    </div>



    <div class="flex justify-evenly py-32">

        <div class="justify-center text-center mx-auto space-y-24">
            <h1 class="text-2xl  ">Contribute and Communicate</h1>

        </div>
        <img src="./../../assets/Images/Kshitij_image.jpeg" alt="diagram-2" class="w-1/4 mx-20">

    </div>

    <div class="flex justify-evenly py-32">

        <img src="./../../assets/Images/Kshitij_image.jpeg" alt="diagram-2" class="w-1/4 mx-20">

        <div class="justify-center text-center mx-auto space-y-24">
            <h1 class="text-2xl  ">Contribute and Communicate</h1>

        </div>

    </div>

    <div class="flex justify-evenly py-32">

        <div class="justify-center text-center mx-auto space-y-24">
            <h1 class="text-2xl  ">Contribute and Communicate</h1>

        </div>
        <img src="./../../assets/Images/Kshitij_image.jpeg" alt="diagram-2" class="w-1/4 mx-20">

    </div>


</div>