<div class="justify-end items-center w-[400px] ">
    <div [ngClass]="showChat?'opacity-100 shadow-black shadow-2xl ':'opacity-0 '" class="transition-opacity duration-500">
      <div class=" duration-500 bg-secondary-100 space-x-10 p-5 flex justify-center items-center rounded-lg rounded-b-none">
        <img src="assets\Images\bot.png" alt="" class="fill-yellow-700 h-20 w-20 p-5 bg-primary-100 rounded-full shadow-inner shadow-white" />
        <div>
          <h1 class="text-2xl text-primary-100 font-bold flex-1 justify-center items-center text-center tracking-widest">
            Hi there, </h1>
          <h1 class="text-2xl text-primary-100 font-bold flex-1 justify-center items-center text-center tracking-widest">
            How can I help you?</h1>
        </div>
      </div>
  
      <div class="flex h-[400px]   bg-gray-700 bg-opacity-70 border-4 border-secondary-100 rounded-t-none rounded-lg rounded-b-none space-y-10 p-5">
        <div class="overflow-y-auto space-y-10 w-full">
        <div *ngFor="let question of questions" class="shadow-lg w-full flex flex-col space-y-5" >
            <div class="w-[300px] bg-yellow-500 shadow-lg shadow-black text-black p-3 rounded-tr-2xl rounded-bl-2xl">
                {{ question }}
              </div>
              <div *ngIf="result" class="shadow-lg shadow-black w-[300px]  bg-primary-50 text-white p-3 rounded-br-2xl rounded-tl-2xl">
                {{ result }}
              </div>
              
        </div>
          
        </div>
      </div>
  
      <div class="bg-secondary-100 space-x-5 p-5 flex rounded-lg rounded-t-none mb-10">
        <input type="text" class="flex-1 outline-none p-3  border-2 border-gray-700 bg-transparent text-primary-50 rounded-2xl text-xl" placeholder="Enter Your Question" [(ngModel)]="newQuestionText">
        <button class="bg-primary-50 hover:bg-blue-700  text-secondary-50 tracking-widest font-bold rounded-2xl px-5 py-3" (click)="submitQuestion()">Send</button>
      </div>
    </div>
  
    <div class="primary-container bg-transparent flex justify-end items-end">
      <img src="assets\Images\chatbot.png" alt="" class="fill-yellow-700 h-20 w-20 p-5 text-yellow-300 bg-secondary-100 cursor-pointer rounded-full shadow-inner shadow-white" (click)="showChatBot()">
    </div>
  </div>
  