<div class="relative text-center justify-center items-center  h-full bg-primary-100  text-mono">
    <img src="assets\Images\register_bg.png" alt="" class="absolute z-0 h-full opacity-10">
    <img src="assets\Images\register_bg.png" alt="" class="absolute z-0 h-full opacity-10 right-0">
    <div class="z-10 relative flex opacity-40 text-4xl text-gray-500 animate-pulse bg-primary-50 pb-10 text-center justify-center pt-10 rounded-br-full rounded-bl-full cursor-pointer"
        routerLink="/">
        <img src="./../../assets/Images/left-arrow.png" alt="left-arrow" class="w-10 h-10 mr-2 " />Back to
        the Med
        Ease
        Website
    </div>
    <div class="relative z-10 flex justify-evenly p-10">

        <div class="bg-primary-80 p-20 rounded-2xl shadow-lg shadow-black w-[40%]">
            <h1 class="text-6xl tracking-widest font-bold text-secondary-100 ">
                LOGIN
            </h1>
            <form #SignIn='ngForm' (ngSubmit)="login(SignIn.value)"
                class="flex flex-col   mx-auto mb-10 mt-10  space-y-5  ">
                <input class="p-5 border-2  bg-primary-50 rounded-full border-primary-80  text-secondary-100"
                    type="text" placeholder="Enter your email address" name="email" ngModel />
                <input class="p-5 border-2  bg-primary-50 rounded-full border-primary-80  text-secondary-100 "
                    type="password" placeholder="Enter your password" name="password" ngModel />
                <button type='submit' class="border-4 p-3 w-40 shadow-inner shadow-black  uppercase tracking-[5px]  m-auto bg-secondary-100 rounded-full text-mono text-primary-50 text-xl
                hover:bg-secondary-50 hover:border-primary-50 mb-10">Sign In</button>
                <p routerLink="/register" class="text-secondary-50 animate-pulse cursor-pointer text-xl">Don't have an
                    account? Click to
                    Register </p>


            </form>
            <div class="">
                <button type="button"
                    class="border-4 border-secondary-100 rounded-full shadow-inner items-center justify-center shadow-black hover:border-gray-300 flex p-2 mx-auto bg-gray-200  text-2xl text-primary-50 hover:bg-gray-300 hover:text-black "
                    (click)=" auth.GoogleAuth()">
                    <img src="./../../assets/Images/google.png" alt="google" class="w-8 h-8 m-2 mx-4 mt-1 flex " />Log
                    In
                    with
                    Google</button>
            </div>
        </div>

    </div>




</div>
<!-- <h1>login</h1> -->