<div class="dp h-full font-mono bg-primary-100 text-center justify-center pb-40">
    <div class="flex justify-evenly">
        <img src="./../../assets/Images/predict.svg" alt="predict" class="w-1/3">
        <div>

            <h1 class=" text-secondary-100 text-5xl pt-10 ">Predict Your Disease</h1>

            <form #predict="ngForm" (ngSubmit)="getData(predict.value)">
                <div class=" flex flex-col  m-auto justify-center text-center my-20 " ng-app="myApp"
                    ng-controller="myCtrl">

                    <select
                        class="border-2 text-secondary-100 border-gray-400 px-10 mb-5 py-3 rounded-lg focus:border-secondary-100 focus:border-4"
                        name="S1" id="#" ngModel>
                        <option *ngFor="let x of names">{{x}}</option>
                    </select>
                    <select
                        class="border-2 text-secondary-100 border-gray-400 px-10 mb-5 py-3 rounded-lg focus:border-secondary-100 focus:border-4"
                        name="S2" id="#" ngModel>
                        <option *ngFor="let x of names">{{x}}</option>
                    </select>
                    <select
                        class="border-2 text-secondary-100 border-gray-400 px-10 mb-5 py-3 rounded-lg focus:border-secondary-100 focus:border-4"
                        name="S3" id="#" ngModel>
                        <option *ngFor="let x of names">{{x}}</option>
                    </select>
                    <select
                        class="border-2 text-secondary-100 border-gray-400 px-10 mb-5 py-3 rounded-lg focus:border-secondary-100 focus:border-4"
                        name="S4" id="#" ngModel>
                        <option *ngFor="let x of names">{{x}}</option>
                    </select>
                    <select
                        class="border-2 text-secondary-100 border-gray-400 px-10 mb-5 py-3 rounded-lg focus:border-secondary-100 focus:border-4"
                        name="S5" id="#" ngModel>
                        <option *ngFor="let x of names">{{x}}</option>
                    </select>

                </div>

                <button type="submit" class="border-4 p-3 w-40 m-auto bg-secondary-100 rounded-lg text-mono text-primary-50 text-xl
            hover:bg-secondary-50 hover:border-primary-50">SUBMIT</button>

            </form>

        </div>
    </div>


    <hr *ngIf="showResult" class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700 mx-40">
    <div *ngIf="showResult">
        <h1 class="text-secondary-100 text-4xl justify-center text-center mx-auto">Result</h1>

        <div class="flex-col justify-evenly mt-20 space-y-10">


            <div class="">
                <table class="table-auto mt-20 mx-auto px-10 text-2xl ">
                    <thead class=" text-primary-50 bg-gray-300 border-2 border-primary-50 ">
                        <tr>
                            <th>Model used</th>
                            <th>Disease</th>


                        </tr>
                    </thead>
                    <tbody class="text-primary-50 border-2 border-primary-50 mt-10 mx-auto px-10  bg-secondary-100 ">
                        <tr *ngFor="let item of list" class="">
                            <td *ngIf='item.id==list.length'>{{item.result1.model1}}</td>
                            <td *ngIf='item.id==list.length'>{{item.result1.answer1}}</td>

                        </tr>
                        <tr *ngFor="let item of list">
                            <td *ngIf='item.id==list.length'>{{item.result2.model2}}</td>
                            <td *ngIf='item.id==list.length'>{{item.result2.answer2}}</td>

                        </tr>
                        <tr *ngFor="let item of list">
                            <td *ngIf='item.id==list.length'>{{item.result3.model3}}</td>
                            <td *ngIf='item.id==list.length'>{{item.result3.answer3}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="">
                <canvasjs-chart [options]="chartOptions" class="  w-1/6"></canvasjs-chart>
            </div>
            <!-- 
            <img src="./../../assets/Images/precaution.svg" alt="precaution"
                class="w-1/6 pt-10 hover:blur-0 hover:w-1/5 cursor-pointer" router-link=""> -->
            <button type="button" class="border-4 p-3 w-60 m-auto bg-secondary-100 rounded-lg text-mono text-primary-50 text-xl
                hover:bg-secondary-50 hover:border-primary-50" routerLink="/precaution">Get Precautions</button>
        </div>
    </div>




</div>