<div class="relative">

    <app-header (SideOpen)=onSide()></app-header>
    <!-- <div class="flex ">
    <div class="flex"></div>
    <div class="flex"></div>

</div> -->
    <!-- <app-login></app-login> -->
    <div class="flex relative ">
        <div class="z-10 ">
            <app-sidebar [showSideNav]="showSideNav"></app-sidebar>
        </div>
        <div class="transiton-opacity flex-1 z-0 " (click)="showSideNav=false"
            [ngClass]="showSideNav?'opacity-80 cursor-not-allowed':'opacity-100'">
            <router-outlet></router-outlet>
        </div>



    </div>

    <div class="flex flex-col fixed bottom-0 right-[50%] ">
        <!-- <h1 class="transition-opacity text-white opacity-0 hover:opacity-100">Back to TOP</h1> -->
        <img src="assets\Images\upArrow.png" alt="" class="bg-white w-16 h-16 rounded-full animate-bounce p-4 opacity-20 hover:opacity-100 cursor-pointer" (click)="backToTop()">
    </div>
    <div class="fixed right-5 bottom-5">
        <app-chatbot></app-chatbot>
    </div>
    <app-footer></app-footer>

</div>
<!-- <router-outlet></router-outlet> -->