<app-header (SideOpen)=onSide()></app-header>
<!-- <div class="flex ">
    <div class="flex"></div>
    <div class="flex"></div>

</div> -->
<!-- <app-login></app-login> -->
<div class="flex ">
    <div class="z-10">
        <app-sidebar [showSideNav]="showSideNav"></app-sidebar>
    </div>
    <div class="flex-1 z-0 " [ngClass]="showSideNav?'opacity-80 cursor-not-allowed':'opacity-100'">
        <router-outlet></router-outlet>
    </div>


</div>
<div></div>
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->