<div *ngIf="showSideNav"
        class="  fixed  text-2xl  font-mono trasition-all  text-gray-300  h-full w-[300px]   ease-in-out delay-150 duration-300  deley-150  bg-primary-100 border border-gray-600 border-t-none border-l-0 shadow-2xl    ">
        <div class=" flex flex-col">
                <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                    hover:text-primary-50 shadow-2xl  ' href="/">Dashboard</a>
                <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl ' routerLink="disease-predictor"> Disease Predictor</a>
                <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl ' routerLink='precaution'>Precaution</a>
                <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl  ' routerLink="addPrecaution">Add Details</a>
                <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl  ' href="/">Blog</a>
                <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl  ' routerLink="about">About Us</a>

        </div>
</div>