<div *ngIf="showSideNav"
    class="   text-2xl  font-mono text-gray-300  h-full w-full transition-transform duration-[600ms] ease-in-out bg-primary-50   ">
    <div class=" flex flex-col">
        <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                    hover:text-primary-50 shadow-2xl  ' href="/">Dashboard</a>
        <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl ' routerLink="disease-predictor"> Disease Predictor</a>
        <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl ' href="/">Precautions</a>
        <a class='border-gray-600 border-2  border-t-0 p-5  hover:border-gray-600 hover:bg-secondary-100
                hover:text-primary-50 shadow-2xl  ' href="/">Blog</a>
    </div>
</div>