<div class="primary-container ">
    <div class="justify-center text-center mx-auto text-5xl text-secondary-100 pb-20 pt-10">
        Precaution
    </div>
    <div class="justify-center text-center mx-auto pb-20 flex flex-col  space-y-5">
        <div class=" text-2xl text-gray-400 ">
            Get precaution for:
        </div>
        <form #precaution="ngForm" (ngSubmit)="getResult(precaution.value)" class="space-y-10">
            <select class=" border-2 text-secondary-100 border-gray-400 px-6 py-3 rounded-lg focus:border-secondary-100
            focus:border-4" name="select" [(ngModel)]="SelectedDisease">
                <option *ngFor="let x of names">{{x}}</option>
            </select>
            <button type='submit' class=" block border-4 p-3  m-auto bg-secondary-100 rounded-lg text-mono text-center justify-center  text-primary-50 text-xl
                hover:bg-secondary-50 hover:border-primary-50">Select</button>
        </form>
    </div>
    <div class="text-4xl text-secondary-100 justify-center text-center " *ngFor="let x of result">
        <div *ngIf="x.disease==temp.select">
            <h2 class="pb-10">Precautions of <span class="text-warning-50">{{x.disease}}</span></h2>
            <li class="text-left p-5" *ngFor="let p of x.precaution">
            {{p}}
            </li>
        </div>
    </div>
</div>